/* =========================
   TABLET
========================= */

@media (max-width:900px){

.navbar{

padding:20px 30px;

}

.hero h1{

font-size:40px;

}

.category-grid{

grid-template-columns:repeat(2,1fr);

}

.shop-container{

flex-direction:column;

padding:40px;

}

.filters{

width:100%;

}

.product-grid{

grid-template-columns:repeat(2,1fr);

}

}



/* =========================
   MOBILE
========================= */

@media (max-width:600px){

.navbar{

flex-direction:column;

gap:10px;

text-align:center;

}

.hero{

padding:80px 20px;

}

.hero h1{

font-size:32px;

}

.hero p{

font-size:16px;

}

.category-grid{

grid-template-columns:1fr;

gap:20px;

}

.product-grid{

grid-template-columns:1fr;

}

.category-card{

padding:35px 15px;

font-size:18px;

}

}